# Poertry by default creates virtual environments in its own internal location.
# This makes it place them in the project folder instead. This is essential in a container
# since only the project folder is bind mounted and persistent.
export POETRY_VIRTUALENVS_IN_PROJECT=true

# Set an env var for your personal github. 
# Allows you to `git clone $mygithub/repo-name` and other git commands.
export mygithub="https://github.com/edward-jazzhands"

# Add $HOME/.local/bin to the path
export PATH="$HOME/.local/bin:$PATH"

# Add $HOME/bin to the path
export PATH="$HOME/bin:$PATH"